In [1]:
import pandas as pd
import numpy as np

In [93]:
df=pd.read_csv(r"C:\Users\Preethi\Downloads\archive\social_media_engagement.csv") #https://www.kaggle.com/datasets/ashaychoudhary/the-power-of-social-media-engagement
df

,post_id,platform,post_type,post_time,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score
0,1,Facebook,image,2023-08-17 14:45,Best day ever! 🎉,#Social,2121,474,628,16,1,14,Thursday,positive
1,2,Facebook,carousel,2023-05-14 00:45,Here's a quick update.,"#Family, #Community, #Events",3660,432,694,22,3,0,Sunday,neutral
2,3,Instagram,poll,2023-02-21 16:15,Not my best day. 😞,"#Beauty, #Fashion, #InstaDaily",4955,408,688,18,3,16,Tuesday,negative
3,4,Twitter,image,2023-11-16 00:45,Disappointed but moving on.,"#Trending, #Tech, #Entertainment",1183,90,187,27,3,0,Thursday,negative
4,5,Twitter,video,2023-05-23 00:30,Exciting news! 🚀,"#News, #Politics, #Entertainment",3499,247,286,16,3,0,Tuesday,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Instagram,video,2023-04-25 07:15,Not my best day. 😞,"#Beauty, #Travel, #Tech",5000,338,420,18,3,7,Tuesday,negative
996,997,Twitter,image,2023-09-09 07:30,Could be better.,"#Tech, #Sports, #Entertainment",880,90,45,16,3,7,Saturday,negative
997,998,Instagram,video,2023-08-18 23:15,Feeling down today.,#Photography,5000,263,274,19,1,23,Friday,negative
998,999,Facebook,text,2023-10-05 00:15,Best day ever! 🎉,#Friends,1075,46,21,16,1,0,Thursday,positive
999,1000,Twitter,poll,2023-09-11 21:15,Here's a quick update.,"#Trending, #Sports",485,195,173,22,2,21,Monday,neutral

In [94]:
df.head(10) #top 10 rows

,post_id,platform,post_type,post_time,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score
0,1,Facebook,image,2023-08-17 14:45,Best day ever! 🎉,#Social,2121,474,628,16,1,14,Thursday,positive
1,2,Facebook,carousel,2023-05-14 00:45,Here's a quick update.,"#Family, #Community, #Events",3660,432,694,22,3,0,Sunday,neutral
2,3,Instagram,poll,2023-02-21 16:15,Not my best day. 😞,"#Beauty, #Fashion, #InstaDaily",4955,408,688,18,3,16,Tuesday,negative
3,4,Twitter,image,2023-11-16 00:45,Disappointed but moving on.,"#Trending, #Tech, #Entertainment",1183,90,187,27,3,0,Thursday,negative
4,5,Twitter,video,2023-05-23 00:30,Exciting news! 🚀,"#News, #Politics, #Entertainment",3499,247,286,16,3,0,Tuesday,positive
5,6,Instagram,carousel,2023-05-05 20:00,"New post, check it out!",#Photography,256,186,211,23,1,20,Friday,neutral
6,7,Instagram,image,2023-02-26 11:45,Loving this new vibe! 😍,#Foodie,1982,30,906,23,1,11,Sunday,positive
7,8,Instagram,text,2023-10-28 19:30,"New post, check it out!",#Fashion,1274,45,216,23,1,19,Saturday,neutral
8,9,Facebook,video,2023-05-02 06:15,Just another day.,"#Friends, #Family, #Events",317,249,221,17,3,6,Tuesday,neutral
9,10,Twitter,carousel,2023-05-11 11:00,Here's a quick update.,"#News, #Entertainment, #Tech",1878,225,438,22,3,11,Thursday,neutral

In [95]:
df.tail(10) #last 10 rows

,post_id,platform,post_type,post_time,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score
990,991,Twitter,carousel,2023-10-30 05:45,Disappointed but moving on.,"#Memes, #Tech",2857,73,219,27,2,5,Monday,negative
991,992,Twitter,image,2023-08-24 07:00,Feeling down today.,#Tech,103,125,289,19,1,7,Thursday,negative
992,993,Facebook,poll,2023-09-29 16:45,Not my best day. 😞,"#Friends, #Marketing",2899,464,271,18,2,16,Friday,negative
993,994,Instagram,text,2023-09-28 03:45,Loving this new vibe! 😍,#Foodie,1696,388,925,23,1,3,Thursday,positive
994,995,Facebook,carousel,2023-11-11 17:15,Just another day.,"#Friends, #Family",1592,500,223,17,2,17,Saturday,neutral
995,996,Instagram,video,2023-04-25 07:15,Not my best day. 😞,"#Beauty, #Travel, #Tech",5000,338,420,18,3,7,Tuesday,negative
996,997,Twitter,image,2023-09-09 07:30,Could be better.,"#Tech, #Sports, #Entertainment",880,90,45,16,3,7,Saturday,negative
997,998,Instagram,video,2023-08-18 23:15,Feeling down today.,#Photography,5000,263,274,19,1,23,Friday,negative
998,999,Facebook,text,2023-10-05 00:15,Best day ever! 🎉,#Friends,1075,46,21,16,1,0,Thursday,positive
999,1000,Twitter,poll,2023-09-11 21:15,Here's a quick update.,"#Trending, #Sports",485,195,173,22,2,21,Monday,neutral

In [96]:
df.dtypes #datatype of each column

post_id             int64
platform           object
post_type          object
post_time          object
caption            object
hashtags           object
likes               int64
comments            int64
shares              int64
caption_length      int64
num_hashtags        int64
post_hour           int64
post_day           object
sentiment_score    object
dtype: object

In [97]:
df.isnull().sum() #checking null values

post_id            0
platform           0
post_type          0
post_time          0
caption            0
hashtags           0
likes              0
comments           0
shares             0
caption_length     0
num_hashtags       0
post_hour          0
post_day           0
sentiment_score    0
dtype: int64

In [98]:
len(df.columns) #Number of columns

14

In [99]:
len(df.index) #number of rows

1000

In [100]:
df.loc[np.where(df['shares']==df["shares"].max())]  #details of the post with highest shares

,post_id,platform,post_type,post_time,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score
400,401,Facebook,text,2023-10-23 20:45,"New post, check it out!",#Family,2948,309,1000,23,1,20,Monday,neutral

In [101]:
df.loc[np.where(df['likes']==df['likes'].min())]['platform'] #platform of the post with minimum likes

829    Twitter
Name: platform, dtype: object

In [102]:
df['post_hour'].mean() #Average post hour

11.048

In [103]:
insta=df.loc[np.where(df['platform']=='Instagram')] #details of the post posted on instagram that has received negative sentiment score
insta.iloc[np.where(insta["sentiment_score"]=='negative')]

,post_id,platform,post_type,post_time,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score
2,3,Instagram,poll,2023-02-21 16:15,Not my best day. 😞,"#Beauty, #Fashion, #InstaDaily",4955,408,688,18,3,16,Tuesday,negative
34,35,Instagram,image,2023-06-06 19:30,Feeling down today.,"#Fitness, #Foodie, #Tech",1309,201,852,19,3,19,Tuesday,negative
39,40,Instagram,carousel,2023-08-04 12:45,Could be better.,#Foodie,447,333,845,16,1,12,Friday,negative
41,42,Instagram,video,2023-11-23 02:00,Not my best day. 😞,#Photography,4929,252,730,18,1,2,Thursday,negative
43,44,Instagram,text,2023-07-06 08:00,Disappointed but moving on.,"#Fashion, #Travel, #Tech",3259,50,177,27,3,8,Thursday,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,972,Instagram,carousel,2023-06-04 06:15,Feeling down today.,#Fashion,214,233,651,19,1,6,Sunday,negative
979,980,Instagram,video,2023-08-22 13:45,Not my best day. 😞,#Beauty,5000,286,369,18,1,13,Tuesday,negative
985,986,Instagram,poll,2023-04-05 23:15,Could be better.,"#Photography, #Tech, #Travel",1930,306,52,16,3,23,Wednesday,negative
995,996,Instagram,video,2023-04-25 07:15,Not my best day. 😞,"#Beauty, #Travel, #Tech",5000,338,420,18,3,7,Tuesday,negative
997,998,Instagram,video,2023-08-18 23:15,Feeling down today.,#Photography,5000,263,274,19,1,23,Friday,negative

In [104]:
date_time=df['post_time'].str.split(" ",expand=True) #splitting post_time columns into two separate columns as Date and Time
date_time.columns=['Date','Time']
date_time

           Date   Time
0    2023-08-17  14:45
1    2023-05-14  00:45
2    2023-02-21  16:15
3    2023-11-16  00:45
4    2023-05-23  00:30
..          ...    ...
995  2023-04-25  07:15
996  2023-09-09  07:30
997  2023-08-18  23:15
998  2023-10-05  00:15
999  2023-09-11  21:15

[1000 rows x 2 columns]

In [105]:
df['Date']=date_time['Date'] #adding date and time column in the dataset
df['Time']=date_time['Time']
df

,post_id,platform,post_type,post_time,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score,Date,Time
0,1,Facebook,image,2023-08-17 14:45,Best day ever! 🎉,#Social,2121,474,628,16,1,14,Thursday,positive,2023-08-17,14:45
1,2,Facebook,carousel,2023-05-14 00:45,Here's a quick update.,"#Family, #Community, #Events",3660,432,694,22,3,0,Sunday,neutral,2023-05-14,00:45
2,3,Instagram,poll,2023-02-21 16:15,Not my best day. 😞,"#Beauty, #Fashion, #InstaDaily",4955,408,688,18,3,16,Tuesday,negative,2023-02-21,16:15
3,4,Twitter,image,2023-11-16 00:45,Disappointed but moving on.,"#Trending, #Tech, #Entertainment",1183,90,187,27,3,0,Thursday,negative,2023-11-16,00:45
4,5,Twitter,video,2023-05-23 00:30,Exciting news! 🚀,"#News, #Politics, #Entertainment",3499,247,286,16,3,0,Tuesday,positive,2023-05-23,00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Instagram,video,2023-04-25 07:15,Not my best day. 😞,"#Beauty, #Travel, #Tech",5000,338,420,18,3,7,Tuesday,negative,2023-04-25,07:15
996,997,Twitter,image,2023-09-09 07:30,Could be better.,"#Tech, #Sports, #Entertainment",880,90,45,16,3,7,Saturday,negative,2023-09-09,07:30
997,998,Instagram,video,2023-08-18 23:15,Feeling down today.,#Photography,5000,263,274,19,1,23,Friday,negative,2023-08-18,23:15
998,999,Facebook,text,2023-10-05 00:15,Best day ever! 🎉,#Friends,1075,46,21,16,1,0,Thursday,positive,2023-10-05,00:15
999,1000,Twitter,poll,2023-09-11 21:15,Here's a quick update.,"#Trending, #Sports",485,195,173,22,2,21,Monday,neutral,2023-09-11,21:15

In [106]:
df.drop('post_time',inplace=True,axis=1) #removing post_time column
df

,post_id,platform,post_type,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score,Date,Time
0,1,Facebook,image,Best day ever! 🎉,#Social,2121,474,628,16,1,14,Thursday,positive,2023-08-17,14:45
1,2,Facebook,carousel,Here's a quick update.,"#Family, #Community, #Events",3660,432,694,22,3,0,Sunday,neutral,2023-05-14,00:45
2,3,Instagram,poll,Not my best day. 😞,"#Beauty, #Fashion, #InstaDaily",4955,408,688,18,3,16,Tuesday,negative,2023-02-21,16:15
3,4,Twitter,image,Disappointed but moving on.,"#Trending, #Tech, #Entertainment",1183,90,187,27,3,0,Thursday,negative,2023-11-16,00:45
4,5,Twitter,video,Exciting news! 🚀,"#News, #Politics, #Entertainment",3499,247,286,16,3,0,Tuesday,positive,2023-05-23,00:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Instagram,video,Not my best day. 😞,"#Beauty, #Travel, #Tech",5000,338,420,18,3,7,Tuesday,negative,2023-04-25,07:15
996,997,Twitter,image,Could be better.,"#Tech, #Sports, #Entertainment",880,90,45,16,3,7,Saturday,negative,2023-09-09,07:30
997,998,Instagram,video,Feeling down today.,#Photography,5000,263,274,19,1,23,Friday,negative,2023-08-18,23:15
998,999,Facebook,text,Best day ever! 🎉,#Friends,1075,46,21,16,1,0,Thursday,positive,2023-10-05,00:15
999,1000,Twitter,poll,Here's a quick update.,"#Trending, #Sports",485,195,173,22,2,21,Monday,neutral,2023-09-11,21:15

In [107]:
len(df[df['sentiment_score']=='neutral']) #number of neutral sentiment score

336

In [108]:
Sunday_posts=df[df["post_day"]=='Sunday'] #caption of posts posted on Sunday
Sunday_posts['caption']

1           Here's a quick update.
6          Loving this new vibe! 😍
17         New post, check it out!
23                Exciting news! 🚀
30     Disappointed but moving on.
                  ...
954              Just another day.
959        Loving this new vibe! 😍
968        Loving this new vibe! 😍
971            Feeling down today.
972               Best day ever! 🎉
Name: caption, Length: 123, dtype: object

In [109]:
max_likes=df[df['likes']==df['likes'].max()]  #first 5 hashtags of the post that received max likes
max_likes['hashtags'].head()

23          #Foodie, #InstaDaily
35    #Social, #Events, #Friends
38                       #Social
47                       #Family
73                #Tech, #Travel
Name: hashtags, dtype: object

In [110]:
df[df['hashtags']=="#Tech, #Sports, #Entertainment"]  #find the details of the post that has hashtag as #Tech, #Sports, #Entertainment

,post_id,platform,post_type,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score,Date,Time
996,997,Twitter,image,Could be better.,"#Tech, #Sports, #Entertainment",880,90,45,16,3,7,Saturday,negative,2023-09-09,07:30

In [111]:
len(df[df['caption_length'].between(25,30)])#number of posts that has caption length between 25 and 30

81

In [112]:
df[(df['comments']>470) & (df['shares']>900)] #posts that has more than 470 comments and more than 900 shares

,post_id,platform,post_type,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score,Date,Time
159,160,Facebook,video,Feeling down today.,#Marketing,5000,500,923,19,1,2,Saturday,negative,2023-10-14,02:30
526,527,Instagram,video,Best day ever! 🎉,"#Photography, #Travel, #Tech",2016,500,974,16,3,8,Thursday,positive,2023-03-23,08:15
566,567,Facebook,image,"New post, check it out!","#Community, #Family, #Friends",1852,500,939,23,3,15,Saturday,neutral,2023-02-25,15:45
593,594,Facebook,carousel,Exciting news! 🚀,"#Events, #Friends, #Marketing",4168,500,999,16,3,15,Saturday,positive,2023-07-29,15:45
604,605,Facebook,video,"New post, check it out!","#Friends, #Marketing",5000,474,945,23,2,6,Monday,neutral,2023-05-01,06:30
673,674,Instagram,video,"New post, check it out!","#Beauty, #InstaDaily",1298,478,992,23,2,13,Wednesday,neutral,2023-12-13,13:45
721,722,Instagram,image,Exciting news! 🚀,"#Travel, #Fitness",1868,495,943,16,2,20,Thursday,positive,2023-03-30,20:15
830,831,Instagram,carousel,Just another day.,"#Tech, #Travel",3546,500,974,17,2,0,Sunday,neutral,2023-12-24,00:15
840,841,Instagram,carousel,Loving this new vibe! 😍,"#Photography, #InstaDaily, #Fashion",1736,500,965,23,3,15,Friday,positive,2023-07-21,15:15

In [113]:
df[df["post_hour"]<14] #details of posts posted before 4PM (i.e) 14:00

,post_id,platform,post_type,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score,Date,Time
1,2,Facebook,carousel,Here's a quick update.,"#Family, #Community, #Events",3660,432,694,22,3,0,Sunday,neutral,2023-05-14,00:45
3,4,Twitter,image,Disappointed but moving on.,"#Trending, #Tech, #Entertainment",1183,90,187,27,3,0,Thursday,negative,2023-11-16,00:45
4,5,Twitter,video,Exciting news! 🚀,"#News, #Politics, #Entertainment",3499,247,286,16,3,0,Tuesday,positive,2023-05-23,00:30
6,7,Instagram,image,Loving this new vibe! 😍,#Foodie,1982,30,906,23,1,11,Sunday,positive,2023-02-26,11:45
8,9,Facebook,video,Just another day.,"#Friends, #Family, #Events",317,249,221,17,3,6,Tuesday,neutral,2023-05-02,06:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,992,Twitter,image,Feeling down today.,#Tech,103,125,289,19,1,7,Thursday,negative,2023-08-24,07:00
993,994,Instagram,text,Loving this new vibe! 😍,#Foodie,1696,388,925,23,1,3,Thursday,positive,2023-09-28,03:45
995,996,Instagram,video,Not my best day. 😞,"#Beauty, #Travel, #Tech",5000,338,420,18,3,7,Tuesday,negative,2023-04-25,07:15
996,997,Twitter,image,Could be better.,"#Tech, #Sports, #Entertainment",880,90,45,16,3,7,Saturday,negative,2023-09-09,07:30
998,999,Facebook,text,Best day ever! 🎉,#Friends,1075,46,21,16,1,0,Thursday,positive,2023-10-05,00:15

In [114]:
#dataset between the dates 2023-10-15 and 2023-11-15
df['Date'] = pd.to_datetime(df['Date']) #ensuring the date column is in datetime format
start_date="2023-10-15"
end_date="2023-11-15"
df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

,post_id,platform,post_type,caption,hashtags,likes,comments,shares,caption_length,num_hashtags,post_hour,post_day,sentiment_score,Date,Time
7,8,Instagram,text,"New post, check it out!",#Fashion,1274,45,216,23,1,19,Saturday,neutral,2023-10-28,19:30
12,13,Facebook,carousel,Not my best day. 😞,"#Marketing, #Social",45,78,375,18,2,15,Saturday,negative,2023-11-11,15:45
52,53,Twitter,video,Exciting news! 🚀,"#Trending, #Sports, #Politics",1498,46,96,16,3,17,Sunday,positive,2023-11-12,17:30
96,97,Twitter,video,Here's a quick update.,#Memes,314,108,458,22,1,23,Friday,neutral,2023-10-27,23:45
100,101,Facebook,image,Just another day.,#Community,1203,424,534,17,1,23,Friday,neutral,2023-10-20,23:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,965,Twitter,text,Amazing experience! 🌟,"#Tech, #News",1519,28,431,21,2,14,Wednesday,positive,2023-11-01,14:30
966,967,Twitter,carousel,Just another day.,#Sports,1741,199,211,17,1,4,Thursday,neutral,2023-10-19,04:00
977,978,Twitter,carousel,Amazing experience! 🌟,#Trending,1315,185,459,21,1,10,Monday,positive,2023-10-30,10:00
990,991,Twitter,carousel,Disappointed but moving on.,"#Memes, #Tech",2857,73,219,27,2,5,Monday,negative,2023-10-30,05:45
994,995,Facebook,carousel,Just another day.,"#Friends, #Family",1592,500,223,17,2,17,Saturday,neutral,2023-11-11,17:15

In [115]:
df[df['Date']>'2023-12-30']['platform'] #platforms of the post posted after 2024-12-30

60     Instagram
364      Twitter
819     Facebook
Name: platform, dtype: object

In [116]:
df.value_counts('hashtags') #count of each hashtag

hashtags
#Tech                            34
#Memes                           23
#Beauty                          22
#Foodie                          20
#Marketing                       19
                                 ..
#Friends, #Events, #Family        1
#Foodie, #Travel, #Tech           1
#Foodie, #Travel, #InstaDaily     1
#Foodie, #Travel, #Beauty         1
#Trending, #Tech, #Sports         1
Name: count, Length: 400, dtype: int64

In [117]:
negative_score=df[df['sentiment_score']=='negative']
df1=negative_score.head(7)
df1['caption'].apply(lambda x: x+" #All is well") #add '#All is well' in top 7 captions with negative sentiment score

2              Not my best day. 😞 #All is well
3     Disappointed but moving on. #All is well
10            Feeling down today. #All is well
12             Not my best day. 😞 #All is well
25    Disappointed but moving on. #All is well
28               Could be better. #All is well
30    Disappointed but moving on. #All is well
Name: caption, dtype: object

In [118]:
df2=df[df["platform"]!='Twitter'] #remove all the details of the post posted on Twitter and delete of all columns except caption ,post_type and hashtags
df2.drop(['post_id','platform','likes','comments','shares','caption_length','num_hashtags','post_hour','post_day','sentiment_score','Date','Time'],axis=1)

    post_type                  caption                        hashtags
0       image         Best day ever! 🎉                         #Social
1    carousel   Here's a quick update.    #Family, #Community, #Events
2        poll       Not my best day. 😞  #Beauty, #Fashion, #InstaDaily
5    carousel  New post, check it out!                    #Photography
6       image  Loving this new vibe! 😍                         #Foodie
..        ...                      ...                             ...
993      text  Loving this new vibe! 😍                         #Foodie
994  carousel        Just another day.               #Friends, #Family
995     video       Not my best day. 😞         #Beauty, #Travel, #Tech
997     video      Feeling down today.                    #Photography
998      text         Best day ever! 🎉                        #Friends

[672 rows x 3 columns]

In [126]:
df2=df[df["platform"]!='Twitter'] #remove all the details of the post posted on Twitter and delete of all columns except caption ,post_type and hashtags
df3=df2.drop([col for col in df2.columns if col not in ['caption','post_type','hashtags']],axis=1)
df3

    post_type                  caption                        hashtags
0       image         Best day ever! 🎉                         #Social
1    carousel   Here's a quick update.    #Family, #Community, #Events
2        poll       Not my best day. 😞  #Beauty, #Fashion, #InstaDaily
5    carousel  New post, check it out!                    #Photography
6       image  Loving this new vibe! 😍                         #Foodie
..        ...                      ...                             ...
993      text  Loving this new vibe! 😍                         #Foodie
994  carousel        Just another day.               #Friends, #Family
995     video       Not my best day. 😞         #Beauty, #Travel, #Tech
997     video      Feeling down today.                    #Photography
998      text         Best day ever! 🎉                        #Friends

[672 rows x 3 columns]